.border-grey {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.shadow-nice {
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
}

body {
    font-family: 'Raleway', sans-serif;
}

h1, h2 {
    font-family: 'Ubuntu', sans-serif;
}

.bg-dark {
    background-color: rgb(50, 50, 50) !important;
}

.btn-lg {
    padding: 20px 40px;
    border-radius: 10px;
}

a.btn-outline-light:hover {
    color: rgb(0, 86, 179) !important;
}

a.btn-light {
    color: rgb(0, 86, 179) !important;
}